@model Catblog.Models.AdminCat

﻿@{
    ViewData["Title"] = "Add New Post";
}

<div class="text-center">
    <h1>Add New kitty</h1>
</div>
<hr />
<div>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <label>Name</label>
        <input type="text" asp-for="AdminCatName" class="form-control" />
        <label>Species</label>
        <input type="text" asp-for="AdminCatSpecies" class="form-control" />
        <label>Age</label>
        <input type="number" asp-for="AdminCatAge" class="form-control" />
        <label>Gender</label>
        <input type="text" asp-for="AdminCatGender" class="form-control" />
        <textarea type="text" asp-for="AdminCatDescription" class="form-control"></textarea>
        <div class="form-group-row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <div class="custom-file">
                    <input class="form-control custom-file-input"
                           asp-for="Files"
                           multiple type="file" />
                    <label class="custom-file-label">Choose Images from device -></label>
                </div>
            </div>
        </div>
        <input asp-action="AddNewPost" asp-controller="Post" type="submit"
               class="btn btn-primary" value="Post" />
        <a asp-controller="Home" asp-action="index" class="btn btn-primary">Cancel</a>
    </form>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-input');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}
